.xn_share_wrapper{
	text-decoration:none;
	font-family:verdana,arial,sans-serif;
	cursor:pointer;
	display:inline-block;
}
.xn_share_icon_small {
	background-image:url('../html/img/share_icon_16.png');
	background-repeat:no-repeat;overflow:hidden;
	width:16px;height:16px;
}
.xn_share_icon_medium {
	background-image:url('../html/img/share_icon_24.png');
	background-repeat:no-repeat;overflow:hidden;
	width:24px;height:24px;
}
.xn_share_icon_large {
	background-image:url('../html/img/share_icon_32.png');
	background-repeat:no-repeat;overflow:hidden;
	width:32px;height:32px;
}
.xn_share_btn_small {
	background-image:url('../html/img/share_btn_small.png');
	background-repeat:no-repeat;overflow:hidden;
	width:50px;height:16px;
}
.xn_share_btn_medium {
	background-image:url('../html/img/share_btn_medium.png');
	background-repeat:no-repeat;overflow:hidden;
	width:63px;height:24px;
}
.xn_share_btn_large {
	background-image:url('../html/img/share_btn_large.png');
	background-repeat:no-repeat;overflow:hidden;
	width:96px;height:32px;
}